.info {
    padding-top: 60px;
}

.info h1, h2, h3, h4, h5 {
    text-align: center;
    color: gold;
}

.info h1:before{
    content: "⛨⠀⠀";
    font-size: 0.8em;
}

.info h1:after{
    content: "⠀⠀⛨";
    font-size: 0.8em;
}

hr {
    border-color: gold;
}

strong {
    color: rgb(214, 174, 11);
}

body {
    /* background-color: #606060 !important; */
    background-color: #253d46 !important;
    color: white !important;
}

.dropdown-toggle {
    color: black !important;
}

.dropdown-dark {
    background-color: #343a40 !important;
    color: white !important;
}


.headingLight {
    color: gold !important;
}

.header-large {
    font-size: 1.5em;
}

.headingDark {
    color: gold !important;
}

.btn-lightMode {
    color: black !important;
}

.btn-darkMode {
    color: white !important;
}

.btn-dark {
    color: white !important;
}

.btn-selected {
    color: black !important;
    background: gold !important;
    border-color: gold !important;
}

footer {
    padding-bottom: 10px;
}

td:first-child {
    font-weight: bold;
}

.table-dark {
    background: #345562;
}

.table-dark tr {
    border: none !important;
}

.table-dark tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .05) !important;
}

.table-dark tbody tr:hover {
    background: rgb(120,120,120) !important;
}

.table-dark th {
    background: rgba(255, 215, 0, 0.75) !important;
    border-bottom: 1px solid darkgrey;
}

.table-dark tr.warfareAdvanced:nth-child(even) {
    background: rgba(255, 215, 0, 0.25) !important;
}

.table-dark tr.warfareAdvanced:nth-child(odd) {
    background: rgba(255, 215, 0, 0.10) !important;
}

hr {
    font-family: Arial, sans-serif; /* choose the font you like */
    text-align: center; /* horizontal centering */
    line-height: 1px; /* vertical centering */
    height: 1px; /* gap between the lines */
    font-size: 1em; /* choose font size you like */
    border-width: 1px 0; /* top and bottom borders */
    border-style: solid;
    border-color: gold;
    margin: 20px 10px; /* 20px space above/below, 10px left/right */
    overflow: visible;
  
    /* ensure 1px gap between borders */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  hr:after {
    content: "⚜"; /* Fleur-de-lis */
    color: #ffd700;
    font-size: 2em;
    display: inline; /* for vertical centering and background knockout */
    position: relative;
    bottom: 7px;
  }

.info a {
    color: turquoise !important;
}

a:hover {
    text-decoration: none !important;
}


.bar-pad {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid gold;
}


.w3-darker-grey {
    color: white !important;
    background: #343a40 !important;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid gold
}


/* 
Generated Maroon
*/

.w3-maroon-l5 {
    color: #000 !important;
    background-color: #ffe8e8 !important
}

.w3-maroon-l4 {
    color: #000 !important;
    background-color: #ffb3b3 !important
}

.w3-maroon-l3 {
    color: #fff !important;
    background-color: #ff6666 !important
}

.w3-maroon-l2 {
    color: #fff !important;
    background-color: #ff1a1a !important
}

.w3-maroon-l1 {
    color: #fff !important;
    background-color: #cc0000 !important
}

.w3-maroon-d1 {
    color: #fff !important;
    background-color: #730000 !important
}

.w3-maroon-d2 {
    color: #fff !important;
    background-color: #660000 !important
}

.w3-maroon-d3 {
    color: #fff !important;
    background-color: #590000 !important
}

.w3-maroon-d4 {
    color: #fff !important;
    background-color: #4d0000 !important
}

.w3-maroon-d5 {
    color: #fff !important;
    background-color: #400000 !important
}

.w3-maroon-light {
    color: #000 !important;
    background-color: #ffe8e8 !important
}

.w3-maroon-dark {
    color: #fff !important;
    background-color: #400000 !important
}

.w3-maroon-action {
    color: #fff !important;
    background-color: #400000 !important
}

.w3-maroon {
    color: #fff !important;
    background-color: #800000 !important
}

.w3-text-maroon {
    color: #800000 !important
}

.w3-border-maroon {
    border-color: #800000 !important
}

.w3-hover-maroon:hover {
    color: #fff !important;
    background-color: #800000 !important
}

.w3-hover-text-maroon:hover {
    color: #800000 !important
}

.w3-hover-border-maroon:hover {
    border-color: #800000 !important
}

.bar-grey {
    background-color: #253d46 !important;
    color: white !important;
    border: 1px solid gold;
}


.w3-gold-l5 {color:#000 !important; background-color:#fffdf0 !important}
.w3-gold-l4 {color:#000 !important; background-color:#fff7cc !important}
.w3-gold-l3 {color:#000 !important; background-color:#fff099 !important}
.w3-gold-l2 {color:#000 !important; background-color:#ffe866 !important}
.w3-gold-l1 {color:#000 !important; background-color:#ffe033 !important}
.w3-gold-d1 {color:#000 !important; background-color:#e6c300 !important}
.w3-gold-d2 {color:#fff !important; background-color:#ccad00 !important}
.w3-gold-d3 {color:#fff !important; background-color:#b39800 !important}
.w3-gold-d4 {color:#fff !important; background-color:#998200 !important}
.w3-gold-d5 {color:#fff !important; background-color:#806c00 !important}

.w3-gold-light {color:#000 !important; background-color:#fffdf0 !important}
.w3-gold-dark {color:#fff !important; background-color:#806c00 !important}
.w3-gold-action {color:#fff !important; background-color:#806c00 !important}

.w3-gold {color:#000 !important; background-color:#ffd700 !important}
.w3-text-gold {color:#ffd700 !important}
.w3-border-gold {border-color:#ffd700 !important}

.w3-hover-gold:hover {color:#000 !important; background-color:#ffd700 !important}
.w3-hover-text-gold:hover {color:#ffd700 !important}
.w3-hover-border-gold:hover {border-color:#ffd700 !important}


.w3-sifrp-l5 {color:#000 !important; background-color:#f3f7f9 !important}
.w3-sifrp-l4 {color:#000 !important; background-color:#d8e5eb !important}
.w3-sifrp-l3 {color:#000 !important; background-color:#b2ccd6 !important}
.w3-sifrp-l2 {color:#000 !important; background-color:#8bb2c2 !important}
.w3-sifrp-l1 {color:#fff !important; background-color:#6499ad !important}
.w3-sifrp-d1 {color:#fff !important; background-color:#436d7e !important}
.w3-sifrp-d2 {color:#fff !important; background-color:#3b6170 !important}
.w3-sifrp-d3 {color:#fff !important; background-color:#345562 !important}
.w3-sifrp-d4 {color:#fff !important; background-color:#2c4954 !important}
.w3-sifrp-d5 {color:#fff !important; background-color:#253d46 !important}

.w3-sifrp-light {color:#000 !important; background-color:#f3f7f9 !important}
.w3-sifrp-dark {color:#fff !important; background-color:#253d46 !important}
.w3-sifrp-action {color:#fff !important; background-color:#253d46 !important}

.w3-sifrp {color:#fff !important; background-color:#4a798b !important}
.w3-text-sifrp {color:#4a798b !important}
.w3-border-sifrp {border-color:#4a798b !important}

.w3-hover-sifrp:hover {color:#fff !important; background-color:#4a798b !important}
.w3-hover-text-sifrp:hover {color:#4a798b !important}
.w3-hover-border-sifrp:hover {border-color:#4a798b !important}