**/devilup
**/formtest
dh2chargen/DarkHeresy2ed.html
dndref/.vscode/settings.json
**/mirus
volta/asciimap.html
wfrpref/.vscode/settings.json
wfrpref/careers.html
wfrpref/data.js
wfrpref/favicon.ico
wfrpref/index.html
wfrpref/interface.css
wfrpref/isotope.pkgd.js
wfrpref/main.js
wfrpref/navbar.html
