.info {
    padding-top: 60px;
}

.info h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: blanchedalmond;
}


eh {
    color: goldenrod !important;
}

.navBarContainer {
    color: blanchedalmond;
}

.navBarContainer a {
    color: blanchedalmond;
}

.navBarContainer a:hover {
    color: burlywood !important;
}

.noteCard {
    padding: 1em;
    background-color: darkslategrey;
}

.w3-dropdown-content {
    border-left: 1px solid blanchedalmond !important;
    border-right: 1px solid blanchedalmond !important;
    border-bottom: 1px solid blanchedalmond !important;
}

/* hr {
    border-color: blanchedalmond;
    width: 70% !important;
    margin-left: 15%;
} */

hr {
    font-family: Arial, sans-serif; /* choose the font you like */
    text-align: center; /* horizontal centering */
    line-height: 1px; /* vertical centering */
    height: 1px; /* gap between the lines */
    font-size: 1em; /* choose font size you like */
    border-width: 1px 0; /* top and bottom borders */
    border-style: solid;
    border-color: blanchedalmond;
    margin: 20px 10%; /* 20px space above/below, 10px left/right */
    overflow: visible;
  
    /* ensure 1px gap between borders */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  hr:after {
    content: "⚔"; /* Crossed Swords */
    color: silver;
    font-size: 2em;
    display: inline; /* for vertical centering and background knockout */
    position: relative;
    /* bottom: 2px; */
  }

.loreBtn {
    width: 7em !important;
    border: 1px solid blanchedalmond !important;
}

.loreBtnWide {
    width: 9em !important;
    border: 1px solid blanchedalmond !important;
}

.loreIcon {
    display: inline-block;
    width:2em;
    height:2em;
}

/* .top-navbar {
    border-radius: 5px 5px 0px 0px;
} */

.bottom-navbar {
    border-radius: 0px 0px 5px 5px;
}


.firstBtn {
    border-radius: 5px 0px 0px 5px;
}

.lastBtn {
    border-radius: 0px 5px 5px 0px;
}

.grid-item {
    float: left;
    width: 375px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

.grid-card {
    background-color: darkslategrey;
}

body {
    background-color: #202020 !important;
    color: white !important;
}

.dropdown-toggle {
    color: black !important;
}

.dropdown-dark {
    background-color: #343a40 !important;
    color: white !important;
}



#showAll.btn-selected {
    background: darkgreen !important;
    border-color: darkgreen !important;
}



table thead {
    top: 40px;
    position: -webkit-sticky;
    position: sticky;
}

.midHead {
    background-color: rgba(47, 79, 79, 0.60) !important;
}


.headingLight {
    color: maroon !important;
}

.header-large {
    font-size: 1.5em;
}

.headingDark {
    color: red !important;
}

.btn-lightMode {
    color: black !important;
}

.btn-darkMode {
    color: white !important;
}

.btn-dark {
    color: white !important;
}

.btn-selected {
    background-color: darkslategrey !important;
    /* border-color:deepskyblue !important; */
}

.loreDescDetail {
    /* border-radius: 5px; */
    background-color:darkslategrey;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.loreDescIcon {
    width: 5em;
    height: 6em;
    padding-top: 1em;
}

footer {
    padding-bottom: 10px;
}


.speciesCard {
    background-color: rgba(255, 255, 255, .1) !important;
}

td:first-child {
    font-weight: bold;
}

.table-dark {
    background: #343a40;
}

.table-dark tr {
    border: none !important;
}

.table-dark tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .05) !important;
}

.table-dark tbody tr:hover {
    background: rgb(120,120,120) !important;
}

th {
    background: darkslategrey !important;
    border-bottom: 1px solid blanchedalmond;
}




a:hover {
    text-decoration: none !important;
}


.bar-pad {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid blanchedalmond;
}


.w3-darker-grey {
    color: white !important;
    background: #343a40 !important;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid blanchedalmond;
}

.hidden {
    width:0px !important;
}

/* 
Generated Maroon theme
*/

.w3-maroon-l5 {
    color: #000 !important;
    background-color: #ffe8e8 !important
}

.w3-maroon-l4 {
    color: #000 !important;
    background-color: #ffb3b3 !important
}

.w3-maroon-l3 {
    color: #fff !important;
    background-color: #ff6666 !important
}

.w3-maroon-l2 {
    color: #fff !important;
    background-color: #ff1a1a !important
}

.w3-maroon-l1 {
    color: #fff !important;
    background-color: #cc0000 !important
}

.w3-maroon-d1 {
    color: #fff !important;
    background-color: #730000 !important
}

.w3-maroon-d2 {
    color: #fff !important;
    background-color: #660000 !important
}

.w3-maroon-d3 {
    color: #fff !important;
    background-color: #590000 !important
}

.w3-maroon-d4 {
    color: #fff !important;
    background-color: #4d0000 !important
}

.w3-maroon-d5 {
    color: #fff !important;
    background-color: #400000 !important
}

.w3-maroon-light {
    color: #000 !important;
    background-color: #ffe8e8 !important
}

.w3-maroon-dark {
    color: #fff !important;
    background-color: #400000 !important
}

.w3-maroon-action {
    color: #fff !important;
    background-color: #400000 !important
}

.w3-maroon {
    color: #fff !important;
    background-color: #800000 !important
}

.w3-text-maroon {
    color: #800000 !important
}

.w3-border-maroon {
    border-color: #800000 !important
}

.w3-hover-maroon:hover {
    color: #fff !important;
    background-color: #800000 !important
}

.w3-hover-text-maroon:hover {
    color: #800000 !important
}

.w3-hover-border-maroon:hover {
    border-color: #800000 !important
}