
/*body {
	background-color: #EFEFF0;
}*/

td {
	text-align: center;
}

#dollarTD {
	font-size: 2em;
	padding-top:10px;
}

.centerTable {
	text-align:center;
}

.hire {
	width:75%;
}


#clickCell {
	height: 50px;
	width: 60%;
}

#hiring {
/*	border-collapse: collapse;
	border-width: .50px;
	border-style: solid;
	border-bottom: 0px;*/
	float:none;
	vertical-align: middle;
}

/*#hiring .row {
	border-bottom: .50px solid black;
	border-collapse: collapse;
}*/

#clickTable {
	margin-top: 2%;
}

#clickButton {
	background-color: #77876B;

	color: white;

}


#dollars {
	font-weight: bold;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover 
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#staff {
	display:inline;
}

#bankTable {
	display:none;
}

#charityTable {
	display:none;
}

#optionsPanel {
	display:none;
}

#chimp {
	background-color: #875514;
	color: white;
}