

td {
	text-align: center;
}

#dollarTD {
	font-size: 2em;
	padding-top:10px;
}

.centerTable {
	text-align:center;
}

.centerTable td {
	padding: 2px;
}

.hire {
}


#clickCell {
	height: 50px;
	width: 60%;
}

#hiring {
	float:none;
	vertical-align: middle;
}


#clickTable {
	margin-top: 2%;
	max-width:75%;
}

#clickButton {
	background-color: #77876B;
	color: white;
}

#dollars {
	font-weight: bold;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#staff {
	display:inline;
}

#bankTable {
	display:none;
}

#charityTable {
	display:none;
}

#optionsPanel {
	display:none;
}

#chimp {
	background-color: #875514;
	color: white;
}