body {
    background: rgb(132, 135, 153);
    /* color: white; */
}

.w3-card {
    background: lightgrey;
}

.w3-image {
    cursor:pointer;
}

select {
    cursor: pointer;
}

.photocard {
    border-radius: 5px;
}

.photopre {
    max-height: 250px !important;
    overflow: clip;
}
