body {
    background: rgb(132, 135, 153);
    /* color: white; */
}

.w3-card {
    background: lightgrey;
}

.w3-image {
    cursor:pointer;
}

select {
    cursor: pointer;
}


.infocard {
    background: lightgrey;
}

.rolled {
    font-weight: bolder;
    font-size: 1.1em;
}

.photocard {
    border-radius: 5px;
}