body {
    background-color: rgb(230, 230, 230);
    text-align: center;
}

#tableHeader{
    font: 1.25em bold black;
}

#tableHeader td {
    border-bottom: 1px solid black;
}

#restTable {
    text-align: left;
    width:100%;
}

#restTable td {
    padding: 2px;
}

.directions{
    text-align: right;
}

#result{
    font-size: 1.5em;
}