.info {
    padding-top: 60px;    
}

#psykerTab.btn-danger{
    background: purple !important;
}

.psyTooltip {
	color:purple;
	border-bottom: 1px dotted purple;
    text-decoration: none;
}

h3,h4 {
    color: maroon !important;
}

.btn {
    color:black !important;
}

.btn-danger{
    color:white !important;
    background: maroon !important;
}

footer{
    padding-bottom: 10px;
}

.biomancy {
    background: skyblue;
}

.divination {
    background: plum;
}

.pyromancy {
    background: orange;
}

.telekinesis {
    background: lightblue;
}

.telepathy {
    background: turquoise;
}

.tier1 {
    background: lightgreen;
}

.tier2{
    background: skyblue;
}

.tier3{
    background: orangered;
    color: white;
}

td:first-child{
    font-weight: bold;
}