body {
    font-family: Courier New, Courier, monospace !important;
    background-color: #092601 !important;
    color: white !important;
    font-size: 1.2em !important;
}

.card {
    background-color: #152f05 !important;
}

.centerTable {
	text-align:center;
}

.btn-warning {
    border: 1px solid black !important;
}

.toolTip {
    border-bottom: 1px dotted white;
}

td {
    padding-top: 2px;
}

tr {
    border-top: 1px solid #092601;
}