body {
    background: #fff3cf;
}

.w3-card-2 {
    background: lightgrey;
    cursor: pointer;
}

.charTable td {
    padding-left: 5px;
    padding-right: 5px;
}

.infocard {
    background: lightgrey;
}

.rolled {
    font-weight: bolder;
    font-size: 1.1em;
}